@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.navbar {
    background: linear-gradient(90deg, #182a5c 50%, #3c8df8 100%);
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100vw;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 100%;
    padding-left: 80px;
}

.navbar-logo {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2px;
    list-style: none;
    text-align: center;
    width: auto;
    justify-content: end;
    margin-right: 0;
}

.nav-item {
    height: 80px;
}

.nav-links,
.nav-btn {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0.5rem 0.5rem;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;

    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}

.nav-btn {
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 4px;
    padding: 0.5px 4px;
    margin-top: 12%;

    border: 1px solid #fff;
    background: transparent;

    cursor: pointer;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.nav-btn:hover {
    background: #fff;
    color: #003366;
    border-color: #003366;
}

.menu-icon {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 12px;
    cursor: pointer;
}

.nav-images {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 16px;
}